# Virtual environments
venv/
.ML/
.ML_new/
env/
.venv/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE & Editor settings
.vscode/
.idea/

# OS specific files
Thumbs.db
.DS_Store
